<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-rutoken"
        version="1.1.0">

    <name>Rutoken cordova plugin</name>
    <description></description>
    <author>Alexey Ermashov</author>
    <keywords>android, rutoken</keywords>
    <license>MIT</license>

    <js-module src="www/rutoken.js" name="Rutoken">
        <clobbers target="Rutoken" />
    </js-module>
    <engines>
        <engine name="cordova-android" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <source-file src="src/ru/eaasoft/plugins/RutokenPlugin.java" target-dir="src/ru/eaasoft/plugins/" />

        <source-file src="src/ru/rutoken/demobank/bcprovider/digest/Digest.java" target-dir="src/ru/rutoken/demobank/bcprovider/digest/" />
        <source-file src="src/ru/rutoken/demobank/bcprovider/digest/GostR3411_1994Digest.java" target-dir="src/ru/rutoken/demobank/bcprovider/digest/" />
        <source-file src="src/ru/rutoken/demobank/bcprovider/digest/GostR3411_2012_256Digest.java" target-dir="src/ru/rutoken/demobank/bcprovider/digest/" />
        <source-file src="src/ru/rutoken/demobank/bcprovider/digest/GostR3411_2012_512Digest.java" target-dir="src/ru/rutoken/demobank/bcprovider/digest/" />
        <source-file src="src/ru/rutoken/demobank/bcprovider/digest/Pkcs11Digest.java" target-dir="src/ru/rutoken/demobank/bcprovider/digest/" />
        <source-file src="src/ru/rutoken/demobank/bcprovider/CmsSigner.java" target-dir="src/ru/rutoken/demobank/bcprovider/" />
        <source-file src="src/ru/rutoken/demobank/bcprovider/DigestProvider.java" target-dir="src/ru/rutoken/demobank/bcprovider/" />
        <source-file src="src/ru/rutoken/demobank/bcprovider/GostContentSigner.java" target-dir="src/ru/rutoken/demobank/bcprovider/" />
        <source-file src="src/ru/rutoken/demobank/bcprovider/GostDigestCalculator.java" target-dir="src/ru/rutoken/demobank/bcprovider/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/exception/CertNotFoundException.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/exception/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/exception/CertParsingException.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/exception/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/exception/GeneralErrorException.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/exception/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/exception/KeyNotFoundException.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/exception/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/exception/KeyTypeNotSupported.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/exception/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/exception/ObjectNotFoundException.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/exception/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/exception/Pkcs11CallerException.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/exception/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/exception/Pkcs11Exception.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/exception/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/signature/AbstractSignature.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/signature/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/signature/GostR3410_2001Signature.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/signature/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/signature/GostR3410_2012_256Signature.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/signature/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/signature/GostR3410_2012_512Signature.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/signature/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/signature/Signature.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/signature/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/Certificate.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/CertificateAndGostKeyPair.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/GostKeyPair.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/GostOids.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/Pkcs11Result.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/RtPkcs11Library.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/SlotEventThread.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/Token.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/TokenManager.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/TokenManagerEvent.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/pkcs11caller/Utils.java" target-dir="src/ru/rutoken/demobank/pkcs11caller/" />
        <source-file src="src/ru/rutoken/demobank/utils/KeyExecutors.java" target-dir="src/ru/rutoken/demobank/utils/" />
        <source-file src="src/ru/rutoken/demobank/utils/Pkcs11ErrorTranslator.java" target-dir="src/ru/rutoken/demobank/utils/" />


        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RutokenPlugin" >
                <param name="android-package" value="ru.eaasoft.plugins.RutokenPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <framework src="src/android/rutoken.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/libs/pkcs11jna-1.1.4.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/rtserviceconnection-1.0.2.aar" target-dir="libs" framework="true"/>

        <resource-file src="src/android/jniLibs/armeabi-v7a/librtpcsc.so" target="jniLibs/armeabi-v7a/librtpcsc.so"/>
        <resource-file src="src/android/jniLibs/armeabi-v7a/librtpkcs11ecp.so" target="jniLibs/armeabi-v7a/librtpkcs11ecp.so"/>

        <resource-file src="src/android/jniLibs/arm64-v8a/librtpcsc.so" target="jniLibs/arm64-v8a/librtpcsc.so"/>
        <resource-file src="src/android/jniLibs/arm64-v8a/librtpkcs11ecp.so" target="jniLibs/arm64-v8a/librtpkcs11ecp.so"/>

    </platform>
</plugin>